.git
.github
.vscode
.do
node_modules
vendor
tests
ts-tests
playwright
playwright-report
playwright.config.ts
.env
.env.backup
.phpunit.result.cache
docker-compose.yml
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
npm-debug.log
yarn-error.log
.php-version
pint.json
phpunit.xml
tsconfig.json
vite.config.js.timestamp-*
